<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="tags/head-remove-tag :: head" />
    <title>Home - MIDAS Hub</title>
</head>
<body>
<header th:replace="tags/header :: header"/>
<div class="container">
    <div id="content">
        <div class="row">
            <article class="col-xs-12">
                <table class="table table-striped table-forum">
                    <thead>
                        <tr><th>Our Services</th></tr>
                    </thead>
                    <tbody>
                        <tr th:each="service : ${services}">
                            <td>
                                <h4>
                                    <a th:href="${service.url}" th:text="${service.name}" />
                                    <small th:text='${service.description}' />
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</div>
<footer th:replace="tags/footer :: footer" />
<thymeleaf th:replace="tags/body-tail-remove-tag :: tail" />
</body>
</html>
