<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <thymeleaf th:replace="tags/head-remove-tag :: head"/>
    <title>Home - MIDAS Software Portal</title>
    <link rel='stylesheet' th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}"/>
    <script th:src='@{/webjars/jquery/jquery.min.js}'/>
    <!--thymeleaf th:replace="tags/head-remove-tag-jquery-datatables-resources :: head"/-->
</head>
<body>
<header th:replace="tags/header :: header"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Available MIDAS Software</h3>

            <table id="services_datatable" class="table table-bordered display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Development group</th>
                    <th>Contact</th>
                    <th>MIDAS SSO Enabled</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${services}">
                    <td>
                        <a th:href="${service.url}" th:text="${service.name}"/>
                    </td>
                    <td><span th:text='${service.description}'/></td>
                    <td><span th:text='${service.softwareType}'/></td>
                    <td><span th:text='${service.developmentGroup}'/></td>
                    <td><a th:href="${'mailto:' + service.contact}" th:text='${service.contact}'/></td>
                    <td><span th:text='${service.ssoEnabled}'/></td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>If you are interested in using MIDAS Single Sign-on in your web application or web service, please contact <a href="mailto:juest4@pitt.edu">juest4@pitt.edu</a>.</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-12">
            <div sec:authorize="hasAuthority('ISG_ADMIN')">
                <h3>Since you has ISG_ADMIN role, you may:</h3>
                <form th:replace="tags/form-service-upload :: form"/>
                <form th:replace="tags/form-service :: form"/>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<footer th:replace="tags/footer :: footer"/>
<thymeleaf th:replace="tags/body-tail-remove-tag :: tail"/>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script th:src='@{/public/js/plugin/datatable-responsive/datatables.responsive.min.js}'></script>
</body>
<script type="text/javascript">
    $(function () {
        $('#services_datatable').DataTable(
                {
                    "sScrollX": "100%",
                    "bScrollCollapse": true,
                    "bPaginate": false,
                    "bFilter": false,
                    'columnDefs': [{
                        'targets': 0,
                        'searchable': false,
                        'orderable': false,
                        'className': 'dt-body-center',
                    }],
                    'order': [1, 'asc']
                });
    });
</script>
</html>