<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="tags/head-remove-tag :: head"/>
    <title>Home - MIDAS Software Portal</title>
</head>
<body>
<header th:replace="tags/header :: header"/>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Available MIDAS Software</h3>

            <table id="services_datatable" class="table table-bordered display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Development group</th>
                    <th>Contact</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${services}">
                    <td>
                        <a th:href="${service.url}" th:text="${service.name}"/>
                    </td>
                    <td><span th:text='${service.description}'/></td>
                    <td><span th:text='${service.softwareType}'/></td>
                    <td><span th:text='${service.developmentGroup}'/></td>
                    <td><span th:text='${service.contact}'/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="tags/footer :: footer"/>
<thymeleaf th:replace="tags/body-tail-remove-tag :: tail"/>
</body>

<script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script src="/hub/public/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>

<script type="text/javascript">
    $(function () {
        $('#services_datatable').DataTable(
                {
                    "sScrollX": "100%",
                    "bScrollCollapse": true,
//                    "scrollX": true,
                    "bPaginate": false,
                    "bFilter": false,
                    'columnDefs': [{
                        'targets': 0,
                        'searchable': false,
                        'orderable': false,
                        'className': 'dt-body-center',
                    }],
                    'order': [1, 'asc']
                });
    })

    $(document).ready(function () {
        $("#version").load("/hub/public/MidashubVersion.txt");
    });

</script>
</html>
