<footer xmlns:th="http://www.thymeleaf.org">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h9 class="md-caption" md-truncate=""><span class="md-flex" th:inline="text"><span hide-xs="">[[${@environment.getProperty('app.name')}]] </span>
                    v<span hide-xs="">ersion </span>[[${@environment.getProperty('app.instance.version')}]]</span></h9>
            <h9 flex=""></h9>
            <h9 class="md-caption" ><span th:inline="text">Copyright &copy;
                [[${#dates.year(#dates.createNow())}]]</span>
            </h9>
        </div>
    </md-toolbar>
</footer>