<form xmlns:th="http://www.thymeleaf.org" role="form" method="POST" th:action="@{/api/services}">
    <h4>Add a new service:</h4>
    <input required="required" type='text' name='name' placeholder="name" class='form-control' />
    <input required="required" type='url' name='url' placeholder="url" class='form-control' />
    <input required="required" type='text' name='description' placeholder="description" class='form-control' />
    <input required="required" type='text' name='softwareType' placeholder="softwareType" class='form-control' />
    <input required="required" type='text' name='developmentGroup' placeholder="developmentGroup" class='form-control' />
    <input required="required" type='email' name='contact' placeholder="contact" class='form-control' />
    <input type="submit" title="Submit" />
</form>