<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
           th:fragment="head" th:remove="tag">
    <link rel='stylesheet' th:href='@{/webjars/angular-material/angular-material.css}'/>
    <link rel='stylesheet' th:href='@{/webjars/datatables.net-buttons-dt/css/buttons.dataTables.css}'/>
    <thymeleaf th:replace="tags/head-remove-tag-jquery-datatables-resources :: head"/>
    <script th:src='@{/webjars/angularjs/angular.min.js}'/>

    <script th:src='@{/webjars/angularjs/angular-animate.min.js}'/>
    <script th:src='@{/webjars/angularjs/angular-aria.min.js}'/>
    <script th:src='@{/webjars/angularjs/angular-messages.min.js}'/>
    <script th:src='@{/webjars/angular-material/angular-material.js}'/>

    <script th:src='@{/webjars/angular-datatables/dist/angular-datatables.min.js}'/>
    <script th:src='@{/webjars/datatables.net-buttons/js/dataTables.buttons.min.js}'/>
    <script th:src='@{/webjars/datatables.net-buttons/js/buttons.colVis.min.js}'/>
    <script th:src='@{/webjars/datatables.net-buttons/js/buttons.flash.min.js}'/>
    <script th:src='@{/webjars/jszip/dist/jszip.min.js}'/>
    <script th:src='@{/webjars/pdfmake/build/pdfmake.min.js}'/>
    <script th:src='@{/webjars/pdfmake/build/vfs_fonts.js}'/>
    <script th:src='@{/webjars/datatables.net-buttons/js/buttons.html5.min.js}'/>
    <script th:src='@{/webjars/datatables.net-buttons/js/buttons.print.min.js}'/>
    <script th:src='@{/webjars/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.min.js}'/>

    <script th:src='@{/webjars/underscorejs/underscore-min.js}'/>

    <script th:src='@{/public/js/ng/app.js}'/>
</thymeleaf>