<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
           th:fragment="head" th:remove="tag">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel='icon' th:href="@{/public/favicon.ico}"/>

    <link rel='stylesheet' th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel='stylesheet' th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/public/css/smartadmin-production-plugins.min.css}" href="css/smartadmin-production-plugins.min.css"/>
    <link rel='stylesheet' th:href="@{/public/css/smartadmin-production.min.css}"/>
    <link rel='stylesheet' th:href="@{/public/css/smartadmin-skins.min.css}"/>

    <link rel='stylesheet' th:href="@{/public/css/smartadmin-rtl.min.css}"/>

    <link rel='stylesheet' th:href="@{/public/css/my.css}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />

    <style>
        textarea {
            width:100%;
        }
    </style>
</thymeleaf>