<header id="header" xmlns:th="http://www.thymeleaf.org">
    <div id="logo-group">
        <span id="logo" class='md-display-1'> <img th:src="@{/public/img/logo-header.png}" alt="MIDAS"/> <span hide-xs="">MIDAS </span>Accounts</span>
    </div>
    <!-- pulled right: nav area -->
    <div class="pull-right">
        <!-- collapse menu button -->
        <!--<div id="hide-menu" class="btn-header pull-right">-->
            <!--<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu" disabled='disabled'><i-->
                    <!--class="fa fa-reorder"></i></a> </span>-->
        <!--</div> &lt;!&ndash; end collapse menu &ndash;&gt;-->
        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a th:href="@{/logout}" th:title="'Logout of ' + ${appUser.name}" data-action="userLogout"
                      data-logout-msg="Please confirm."><i
                    class="fa fa-sign-out"></i></a> </span>
        </div> <!-- end logout button -->
        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i
                    class="fa fa-arrows-alt"></i></a> </span>
        </div> <!-- end fullscreen button -->
    </div><!-- end pulled right: nav area -->
</header>