/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

#logo img {
    width: 30px;
    vertical-align: top;
}

.input-group-addon {
    height: 34px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

fieldset {
    padding:auto !important;
}

.disabler {
    /*background-color: #bbb !important;*/
    opacity: 0.5 !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.bottom {
    position: fixed;
    bottom: 65px;
    width: 100%;
    margin-left: -28px;
}

@media only screen and (min-width: 1024px) {
    /* Add your custom styles here for Desktop */
}
@media only screen and (max-width: 1023px) {
    /* Add your custom styles here for Tablet */
}
@media only screen and (max-width: 640px) {
    h2 { font-size: 20px !important; }
}
@media only screen and (max-width: 480px) {
    h2 { font-size: 14px !important; }
}

#logo {
    display: inline-block;
    width: 360px;
    margin-top: 10px;
    margin-left: 9px;
}

.table thead tr th {
    font-size: 15px;
}

.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}