<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>CCD</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <script src="/vendors/auth0/lock-9.1.min.js"></script>
        <script th:inline="javascript">
            (function() { // TODO should be page not modal.
                var auth0ClientId = /*[[${@environment.getProperty('auth0.clientId')}]]*/ '';
                var auth0Domain = /*[[${@environment.getProperty('auth0.domain')}]]*/ '';
                var state = /*[[${state}]]*/ '';
                var callbackUrl = /*[[${callbackUrl}]]*/ '';
                var iconUrl = /*[[@{/img/ccd_logo.png}]]*/ '';
                new Auth0Lock(auth0ClientId, auth0Domain).show({
                    dict: {
                        signin: {
                            title: "CCD Web"
                        }
                    },
                    icon: iconUrl,
                    callbackURL: callbackUrl,
                    responseType: 'code',
                    rememberLastLogin: true,
                    authParams: {
                        state: state
                    }
                });
            }());
        </script>
    </body>
</html>
