<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Login - MIDAS</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel='icon' th:href="@{/public/favicon.ico}"/>
    </head>
    <body>
        <script th:src="@{/webjars/auth0-lock/build/auth0-lock.js}"></script>
        <script th:inline="javascript">
            (function() {
                var auth0ClientId = /*[[${@environment.getProperty('auth0.clientId')}]]*/ '';
                var auth0Domain = /*[[${@environment.getProperty('auth0.domain')}]]*/ '';
                var state = /*[[${state}]]*/ '';
                var callbackUrl = /*[[${callbackUrl}]]*/ '';
                var icon = /*[[@{/public/logo.png}]]*/ '';
                new Auth0Lock(auth0ClientId, auth0Domain).show({
                    dict: {
                        signin: {
                            title: "MIDAS Hub"
                        }
                    },
                    icon: icon,
                    callbackURL: callbackUrl,
                    responseType: 'code',
                    rememberLastLogin: true,
                    closable: false,
                    authParams: {
                        state: state
                    }
                });
            }());
        </script>
    </body>
</html>
